html { 
  box-sizing: border-box; /*Всегда настраивать это свойство перед началом работы, оно ограничевает отступы*/
  }

 *, *::before, *::after { /* Пвсевдоклассы которые заставляют наследовать свойства родителя (в данном случае box-sizing у HTML)*/
  box-sizing: inherit;
  }

.body { /* стандартные настройки для body*/
  font-family: 'Courier New', Courier, monospace; /*стиль шрифта*/
  font-style: normal; /*начертание шрифта*/
  font-size: 16px; /*размер шрифта*/
  line-height: 1.2; /*межстрочный интервал*/
  font-weight: normal; /*насыщенность шрифта*/
  color: black; /*цвет шрифта*/
  }

.wrapper { /*блок для всего сайта*/
  max-width: 1060px; /*максимальная ширина*/
  margin: 0 auto; /*внешние отступы для блока всего сайта*/
  padding: 0 15px; /*внутренние отступы для блока всего смайта*/
  }



/*header start*/
.header { /*чердак сайта*/
  background-color: #f7d5ad; /*цвет фона*/
  width: 100%;/*ширина*/
  height: 100px;/*высота*/
  }


.header__list {  /*Св-ва списка меню*/
  display: flex;  /*делает элементы флексами*/
  flex-wrap: wrap;/*задает направление элементов в несколько линий*/
  }

.header__item {  /*Св-ва для элементов меню*/
  margin-right: 60px;  /*Внешний отступ справа*/
  margin-top: 50px; /*Внешний отступ сверху*/
  list-style-type: none; /*убирает маркер со списка*/
  align-items: center;
  }

.header__link {
  font-size: 18px; /*размер шрифта*/
  line-height: 20px; /*пространство между строками*/
  color: black; /*цвет шрифта*/
  text-decoration: none; /*уберает нижнее подчеркивание ссылок*/
  }

  .header__link:hover, .header__link:focus, .header__link:active {
    opacity: .75; /*визуальные эффекты для ссылок*/
    }
    

/*header end*/

/*main start*/
.main { /*тело сайта*/
  background-color:#f7d5ad; /*цвет фона*/
  width: 100%;/*ширина*/
  height: 1100px;/*высота*/
  }

.inf1 { /*первый информационный блок*/
  display: flex; /*делает элементы флексами*/
  justify-content: flex-start;/*задает расположение для элементов*/
  margin-left: 45px;/*внешний отступ от левого края*/
}  

.main__photo { /*блок с фото*/
  display: flex;/*делает элемент флексом*/
  justify-content: flex-start;/*задает располложение*/
  align-items: flex-start;/*задает расположение*/
  margin-top: 20px;/*внешний отступ сверху*/
  }
  
.header__logo-pic { /*само фото*/
  width: 150px; /*ширина фото*/
  height: 150px; /*высота фото*/
  border-radius: 50px; /*скругление углов на фото*/
  }

.main__name { /*блок с именем*/
 padding-left: 20px;/*внтутренний отступ в лево*/
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*шрифт для надписи с именем*/
}

.contacts {/*блок с информацией*/
  display: flex;/*делает элементы флексами*/
  justify-content: space-around;/*задает расположение в одну строку*/
  font-size: 15px;/*высота текста*/
  position: relative;/*задает позиционирование*/
  right: 50px;/*отодвигант элемент в право*/
}

.main__list { /*блок для списка */
  padding: 10px; /*внутренние отступы*/
  list-style-type: none; /*убирает маркер со списка*/
}

.inf2 { /*блок с информацией*/
  display: flex;/*делает элементы флексами*/
  justify-content:flex-start;/*задает расположение*/
  margin-left: 30px;/*внешний отступ с лева*/
  margin-top: 30px;/*внешний отступ от верха*/
}

.main__skills {/*блок для элементов списка*/
  padding-left: 20px;/*внутрений отступ в лево*/
  list-style-type: none;/*убирает маркерта из списка*/
}

.main__languages {/*блок для элементов списка*/
  padding-left: 50px;/*внутрений отступ в лево*/
  list-style-type: none;/*убирает маркерта из списка*/
}

.main__education {/*блок для элементов списка*/
  padding-left: 50px;/*внутрений отступ в лево*/
  list-style-type: none;/*убирает маркерта из списка*/
}

.Myskills {/*блок для элементов списка*/
  list-style-type: none;/*убирает маркерта из списка*/
  position: relative;/*задает позиционирование*/
  right: 45px;/**/
}

.Mylanguages {/*блок для элементов списка*/
  list-style-type: none;/*убирает маркерта из списка*/
  position: relative;/*задает позиционирование*/
  right: 45px;/*отодвигант элемент в право*/
  
}

.Myeducation {/*блок для элементов списка*/
  list-style-type: none;/*убирает маркерта из списка*/
  position: relative;/*задает позиционирование*/
  right: 45px;/*отодвигант элемент в право*/
}

.main__information {/*блок для элементов списка*/
  margin-left: 50px; /*внешний отступ с лева*/
  margin-top: 50px;/*внешний отступ от верха*/
}

.main__experience {/*блок для элементов списка*/
  margin-left: 50px;/*внешний отступ с лева*/
  margin-top: 50px;/*внешний отступ от верха*/
}

.main__cod {/*блок для элементов списка*/
  margin-left: 50px;/*внешний отступ с лева*/
  margin-top: 50px;/*внешний отступ от верха*/
}

.mycode {/*блок для элементов списка*/
  width: 700px;/*ширина*/
  height: 300px;/*высота*/
}

/*main end*/

/*footer start*/
.footer {/*чердак сайта*/
  background-color: #f7d5ad;/*цвет фона*/
  width: 100%;/*ширина*/
  height: 100px;/*высота*/
  }
 
.footer__icon {/*блок для лого*/
display: flex;/*делает элемент флексом*/
justify-content: center;/*задает расположение*/
}

.icon{/*само лого*/
  width: 300px;/*ширина*/
  height: 100px;/*высота*/
}

/*footer end*/    
